<!DOCTYPE html>
<html lang="en" xmlns:th="http/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="justify" style="margin-left: 100px;">
	<h2>E-healthcare System</h2>
</div>
<div align="right" style="margin-right: 30px;">
	<p>Admin Email : <b>[[${user.email}]]</b> | 
	<a href="/logout"><b>logout</b></a>
	</p>
</div>
<div align="center">
	<div th:if="${msg}">
		<p th:text="${msg}"></p>
	</div>
	<h1>Admin Add Form</h1>
	<form action="admin/admin-added" method="post">
	
	<label>Email: </label>
	<input type="email" name="email" placeholder="email" required><br><br>
	
	<label>Password: </label>
	<input type="password" name="password" id="pwd" placeholder="password" required><br><br>
	
	<button type="submit">register</button>
	</form>
</div>
</body>
</html>